{{ block title }}
Instructions
{{ endblock }}

{{ block content }}

    Group ID: {{ player.group.id_in_subsession }}

<br>Thank you for coming to the experiment.
This session is part of an experiment in the economics of decision-making.
During the session, please do not talk or communicate with any of the other participants.
If you have a question, please raise your hand and one of us will come to your desk to answer it.</br>

<br>
<br><b>Description of the experiment</b></br>
    Each person in this room plays the role of a buyer.
    You are randomly paired with three other buyers in a group (the same three throughout the session).
    One buyer of your group is an uninformed buyer, and the other three are informed buyers.
    The status of each of you as an informed or uninformed buyer remains the same in the session.
    You will not know which of the participants are in your group.
    The session consists of 20 rounds, each of which is structured as follows.
    The computer takes the role of the seller.
    The number of units for sale is 100,000.
    At the beginning of the round, each informed buyer receives a signal revealing the value of the goods.
    The probability of observing either a high value or a low value signal is 50%.
    The uninformed buyer does not receive a signal. No one knows the other buyers’ signals.
<p><b>The value of each unit of the goods equals one plus the number of high value signals received in your group.</b></p>
</br>

{% if player.task_type == "Uniform" %}
    <p>
        The decision you will make is to submit up to 6 bids.
        Each bid is a price-quantity pair consisting of the price you would like to bid and the number of units you bid for at that price.
        Prices cannot be negative.
        The uninformed buyer can bid up to 80,000 units. Each of the informed buyers can bid up to 150,000 units.
    </p>
{% else if player.task_type == "Fixed" %}
    <p>
        The decision you are asked to make is to submit the number of units you would like to bid for at the predetermined market price.
        The uninformed buyer can bid up to 80,000 units.
        Each of the informed buyers can bid up to 150,000 units.
    </p>
{% endif %}

{{ if player.task_type == "Uniform" }}
<p>
    When all the buyers submit the decisions, the seller will decide the market price and allocate the goods.
    The <b>Price and allocation rules</b> are as follows.
    If the total quantity bid for in your group is less than or equal to the quantity for sale (i.e.100,000 units), the market price will be zero.
    Each of you will be allocated the number of units you have submitted.
    If the total quantity bid for in your group exceeds the quantity for sale (100,000 units), the goods will be allotted from the highest bidding price to lower prices until all the units are allocated. The market price will be set as the highest bidding price where the cumulated units bid for exceed the quantity for sale. The quantity you have bid for above the market price will be fully allocated, those below the market price will be ignored, and those at the market price will be allocated proportionately to fully sell the goods (always rounded to integer).
</p>
{{ else if player.task_type == "Fixed" }}
<p>
    <b>Allocation rule</b>
    When all the buyers submit the decisions, the seller will allocate the goods.
    If the total quantity bid for in your group is less than or equal to the quantity for sale (100,000 units), you will be allocated the number of units you have submitted.
    If the total quantity bid for exceeds the quantity for sale (100,000 units), the units of goods will be allocated proportionally among you and your competitors (always rounded to integer).
</p>
{{ endif }}





{{ if player.task_type == "Uniform" }}
<p>
<p><b>Your payment</b></p>
    At the beginning of the experiment, there are 350,000 points in each informed buyer’s account, and 400,000 points in the uninformed buyer’s account.
    In each of the 20 rounds you can earn or lose points, which will be credited or debited to your account.
</p>
{{ else if player.task_type == "Fixed" }}
<p>
    At the beginning of the experiment, there are 100,000 points in each informed buyer’s account, and 150,000 points in the uninformed buyer’s account.
    In each of the 20 rounds you can earn or lose points, which will be credited or debited to your account.
</p>
{{ endif }}





<p>
    <b>Point earnings</b> (or losses) in each round, which are depending on both your and your competitors’ decisions, equal the per unit value minus the market price, multiplied by the number of units allocated to you.
    If you bid more than 100,000 units, you need to pay a cost of 5000 points.
</p>


<p>
    At the end of the session, the total points on your account will be converted into pounds and be paid to you in cash.
    The exchange rate will be 250 points = 1p.
    The more points you have, the more money you will earn.
</p>
<p>
    In our research, we are interested in what will happen if everybody tries to earn as many points as possible.
    Making unreasonable decisions may make your account balance negative.
    If you go bankrupt, you cannot continue participating in this experiment and will be paid only three pounds.
    By understanding the instructions and making decisions carefully, you may earn a considerable amount of money.
</p>


<p>
    <b>Information you will receive</b>
<p>
    {{ if player.task_type == "Uniform" }}
        At the end of each round, you will be informed the results of that round including the units and the points obtained by you and your competitors, the total cumulated units placed at the market price, the per unit value and market price of the goods, and your total point earnings.
        The results will be displayed for 30 seconds before the new round begins.
        However, results of previous rounds can be checked from the “History” menu at any time during the session.
    {{ else if player.task_type == "Fixed" }}
        At the end of each round, you will be informed the results of that round including the units and the points obtained by you and your competitors, tthe total units bid for, the per unit value of the goods, and your total point earnings.
        The results will be displayed for 30 seconds before the new round begins.
        However, results of previous rounds can be checked from the “History” menu at any time during the session.
    {{ endif }}
</p>
</p>

<p>
    You can also check the description of the experiment on this page from the “Help” menu (gives an example of the market rules) and the “Session Information” menu (explains other session information) on your screen.
</p>

<p>
    The formal session will begin after you correctly answer some questions from your computer.
    The numbers in these questions as well as those in the Help menu do not relate to the numbers of the real experiment.
    (The numbers of the questions do not relate to the numbers of the real experiment.)
</p>

<p>
    Now please press the “Next” button and follow the prompts on your screen.
</p>


<p>Please answer the following question to make sure you understood the task.</p>

<p>
    Suppose there are 100 units for sale.
    Player A plays with the other players.
    Each player who bids for more than 100 units needs to pay a cost of 5 points.
</p>

<p>Please answer the following questions:</p>


{{ formfields }}
{{ next_button }}

{{ endblock }}
