{{ block title }} {{ endblock }}

{{ block content }}

<!-- INTRODUCTION -->
<h1><b>Instructions</b></h1>

<br>Thank you for coming to the experiment.
This session is part of an experiment in the economics of decision-making.
During the session, please do not talk or communicate with any of the other participants.</br>

<br>In general, it will take about 15-20 minutes to read and complete the instructions.
    Afterwards, you may need to wait about 15-20 minutes for other players to join the study.
    Once the experiment starts, it will take about 30 minutes. <br><br>


<!-- DESCRIPTIONS OF EXPERIMENT -->
<br>
<h2><b>Description of the experiment</b></h2>
    Each person in your group plays the role of a buyer.
    You are randomly paired with three other buyers in a group (the same three throughout the session).
    One buyer of your group is an UNINFORMED buyer, and the other three are INFORMED buyers.
    The status of each of you as an INFORMED or UNINFORMED buyer remains the same in the session.
    You will not know who the participants in your group are.
    <br><br>The session consists of 20 rounds, each of which is structured as follows.<br>
    <li>The computer takes the role of the seller.</li>
    <li>The number of units for sale is 100,000.</li>
    <li>At the beginning of the round, each informed buyer receives a signal revealing the value of the goods.</li>
    <li>The probability of observing either a high value or a low value signal is 50%.</li>
    <li>The uninformed buyer does not receive a signal.</li>
    <li>No one knows the other buyers’ signals.</li>
    <li>Each player needs to provide at least one bid.</li>
    <li>For the first 5 rounds, you will be given 180 seconds (3 minutes) to complete the bid, and for the remaining rounds, you will be given 90 seconds.
    If you do not provide any bid within the provided time, it will be treated as unwilling to bid (it will be treated as a bid for 0 quantity at price 0).</li>
    <li>If you go bankrupt, the computer will randomly bid, but the results will not be counted into your points earnings or losses.</li></p>
<p><b>The value of each unit of the goods equals one plus the number of high value signals received in your group.</b></p>

{% if player.task_type == "Uniform" %}
        The decision you will make is to submit up to 6 bids.
        Each bid is a price-quantity pair consisting of the price you would like to bid and the number of units you bid for at that price.
        Prices cannot be negative.
        The uninformed buyer can bid up to 80,000 units. Each of the informed buyers can bid up to 150,000 units.
    </p>
{% else if player.task_type == "Fixed" %}
        The decision you are asked to make is to submit the number of units you would like to bid for at the predetermined market price.
        The uninformed buyer can bid up to 80,000 units.
        Each of the informed buyers can bid up to 150,000 units.
    </p></br>
{% endif %}


<!-- ALLOCATION RULES -->
{{ if player.task_type == "Uniform" }}
<p>
    <br><h3><b>Allocation rule</b></h3>
    When all the buyers submit the decisions, the seller will decide the market price and allocate the goods.
    The <b>Price and allocation rules</b> are as follows.<br>
    <li>If the total quantity bid for in your group is less than or equal to the quantity for sale (i.e.100,000 units), the market price will be zero.
    <li>Each of you will be allocated the number of units you have submitted.
    <li>If the total quantity bid for in your group exceeds the quantity for sale (100,000 units), the goods will be allotted from the highest bidding price to lower prices until all the units are allocated. The market price will be set as the highest bidding price where the cumulated units bid for exceed the quantity for sale. The quantity you have bid for above the market price will be fully allocated, those below the market price will be ignored, and those at the market price will be allocated proportionately to fully sell the goods (always rounded to integer).
</p></br>
{{ else if player.task_type == "Fixed" }}
<p>
    <h3><b>Allocation rule</b></h3>
    When all the buyers submit the decisions, the seller will allocate the goods.
    If the total quantity bid for in your group is less than or equal to the quantity for sale (100,000 units), you will be allocated the number of units you have submitted.
    If the total quantity bid for exceeds the quantity for sale (100,000 units), the units of goods will be allocated proportionally among you and your competitors (always rounded to integer).
</p></br>
{{ endif }}



<!-- PAYMENT -->

{{ if player.task_type == "Uniform" }}
<p>
    <h4><b>Your payment</b></h4>
    At the beginning of the experiment, there are 350,000 points in each informed buyer’s account, and 400,000 points in the uninformed buyer’s account.
    In each of the 20 rounds you can earn or lose points, which will be credited or debited to your account.
</p></br>
{{ else if player.task_type == "Fixed" }}
<p>
    <h4><b>Your payment</b></h4>
    At the beginning of the experiment, there are 100,000 points in each informed buyer’s account, and 150,000 points in the uninformed buyer’s account.
    In each of the 20 rounds you can earn or lose points, which will be credited or debited to your account.
</p></br>
{{ endif }}



<!-- POINT EARNINGS AND LOSSES -->

<p>
    <h5><b>Point Earnings or Losses</b></h5>
    <b>Point earnings</b> (or losses) in each round, which are depending on both your and your competitors’ decisions, equal the per unit value minus the market price, multiplied by the number of units allocated to you.
    If you bid more than 100,000 units, you need to pay a cost of 5000 points.
</p>


<p>
    At the end of the session, the total points on your account will be converted into dollars and be paid to you in cash.
    The exchange rate will be 175 points = 1 cent.
    The more points you have, the more money you will earn.
</p>
<p>
    In our research, we are interested in what will happen if everybody tries to earn as many points as possible.
    Making unreasonable decisions may make your account balance negative.
    If you go bankrupt, you cannot continue participating in this experiment and will be paid only the Prolific minimum.
    If you do not submit a bid for more than 30% of the 20 rounds, you will be treated as a dropout and will not be paid.
    By understanding the instructions and making decisions carefully, you may earn a considerable amount of money.
</p></br>

<!-- PROVIDED INFORMATION -->
<p>
    <h6><b>Information you will receive</b></h6>
<p>
    {{ if player.task_type == "Uniform" }}
        At the end of each round, you will be informed of the results of that round including the units and the points obtained by you and your competitors, the total cumulated units placed at the market price, the per unit value and market price of the goods, and your total point earnings.
        The results will be displayed for 30 seconds before the new round begins.
        However, results of previous rounds can be checked from the “History” menu at any time during the session.
    {{ else if player.task_type == "Fixed" }}
        At the end of each round, you will be informed the results of that round including the units and the points obtained by you and your competitors, the total units bid for, the per unit value of the goods, and your total point earnings.
        The results will be displayed for 30 seconds before the new round begins.
        However, results of previous rounds can be checked from the “History” menu at any time during the session.
    {{ endif }}
</p>
</p>

<p>
    You can also check the description of the experiment on this page from the “Help” menu (gives an example of the market rules) and the “Session Information” menu (explains other session information) on your screen.
</p>

<p>
    The formal session will begin after you correctly answer some questions from your computer.
    The numbers in these questions as well as those in the Help menu do not relate to the numbers of the real experiment.
    (The numbers of the questions do not relate to the numbers of the real experiment.)
</p>

<!-- An Example Case -->
<h7><br><b>An Example Case</b></h7><br>
    Let's assume that there are 100 units for sale, and Player A plays with Player B.
    The table below shows how Player A and Player B bid in this round, then: <br>
    <br><li><b>Market Value</b>: Since both players received a high value signal, <u>the market value is 3</u> (i.e., the number of high value signal in the group + 1).</li>
    <br><li><b>Market Price</b>: At price 2, the cumulative units all players bid exceeded the number of units for sale (here, 100), so <u>the market price is 2.</u> </li>
    <br><li><b>Units Allocation</b>: Player A receives 50 units because Player A bid the 50 units for above the market price.
    Player B will receive 50 units. The 20 units that were bid for above the market price will be fully allocated.
    However, only 30 out of 50 at the market price will be allocated since only 30 units are available at the market price.</u> </li>
    <br><li><b>Points Earning</b>: Points earnings will be the per unit market value minus the market price, multiplied by the number of units allocated to you.
    In this example, the per unit market value is 3, the market price is 2, and each player received 50 units.
    So, both Player A and Player B will earn 50 points in this round. </u> </li><br>


    <img src="{{ static 'ExplanationCase.png' }}"/></br></br>

<!-- ATTENTION CHECK QUESTIONS -->
<h7><br><b>Attention Check Questions</b></h7>

<p>Please answer the following question to make sure you understood the task.</p>

{{ if player.task_type == "Uniform" }}
    Suppose there are 100 units for sale.
    Player A plays with Player B.
    Player A received a low value market signal, while Player B received a high value market signal.
    Each player who bids for more than 100 units needs to pay a cost of 5 points.
    If in this round the numbers of units that players bid for are as below, then: <br><br>
{{ else if player.task_type == "Fixed" }}
    Suppose there are 100 units for sale.
    Player A plays with the other players.
    Each player who bids for more than 100 units needs to pay a cost of 5 points.
    The market price is predetermined as 2 points per unit. </br></br>
{{ endif }}


{{ if player.task_type == "Uniform" }}
    1. What is the market value of each unit of the good?
    {{ form.attention_value_question }} </br>
    2. What is the market price?
    {{ form.attention_price_question }} </br>
    3. How many units is player A allocated?
    {{ form.attention_allocation_question }} </br>
    4. How many point earnings does player A obtain?
    {{ form.attention_earning_question }} </br>
{{ else if player.task_type == "Fixed" }}
    1. If the number of good signals in this round is 2, what is the market value of each unit of the good?
    {{ form.attention_value_question }} </br>
    If in this round the numbers of units that players bid for are as below, then:</br>
    2. How many units is player A allocated?
    {{ form.attention_allocation_question }} </br>
    3. Suppose the value of each unit of the goods is 3, how many point earnings does player A obtain?
    {{ form.attention_earning_question }} </br>
{{ formfield_errors 'attention_price_question' }}
{{ formfield_errors 'attention_price_question' }}
{{ endif }}

<!-- Example Table -->
<img src="{{ static 'ExampleTable.png' }}"/></br></br>

{{ next_button }}

<!-- Example Table -->
<style>
    body{font-family: Verdana; font-size: 15pt; line-height: 1.5}
    /* Headers */
    h1{font-size: 20pt; color: blue;}
    h2,h3,h4,h5,h6,h7{font-size: 18pt; color: blue;}
</style>

{{ endblock }}




